.cart-container {
  display: flex;
  flex-direction: column;
}
.cart-card {
  margin: 3%;
  border: 1px solid;
  height: fit-content;
}

.cart-image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.shopping-cart {
  font-size: 20px;
}

#cart-list {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}
li {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
}

.remove-button {
  background-color: red;
  font-size: 15px;
  padding: 5px;
  margin: 3px;
  margin-right: 9px;
  border-radius: 4px;
  cursor: pointer;
}
span {
  padding: 15px;
}
ul li:nth-child(2) {
  padding: 5px;
}
