.footer-container {
  display: flex;
  border-top: 2px solid;
}

.footer-container .logo {
  /* background-color: indianred; */
  margin: 1%;
}

.shopping-online {
  margin: 1%;
  /* background-color: lightblue; */
}
