.product-img:empty {
  width: 300px;
  height: 400px;
  background-image: linear-gradient(#ccc, #ccc), linear-gradient(#ccc, #ccc),
    linear-gradient(#f1f1f1, #f1f1f1);
  background-size: 190px 40px, 190px 40px, 100% 100%;
  background-position: 15px 140px, 15px 200px, 0 0;
  background-repeat: no-repeat;
}

/* Card Animation  */
/* .card {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
} */

.card {
  /* border-radius: 5px;
  border-style: solid; */
  margin-bottom: 5%;
  margin-right: 5%;
  /* background-color: indianred; */
  width: 300px;
  height: 400px;
  display: inline-block;
  vertical-align: top;
  transition: 0.35s ease-in;
}

.product-img .img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.product-img {
  position: relative;
}

.fav-btn {
  font-size: 18px;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

.product-img .cart-btn {
  font-size: 18px;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 30px;
  top: 0;
  right: 1;
}

.product-container .fav-btn:hover {
  background-color: #fbb03b;
  color: white;
  transition: 0.25s ease-in;
}
.cart-btn:hover {
  background-color: #fbb03b;
  color: white;
  transition: 0.25s ease-in;
}

.product-name {
  font-size: 16px;
  word-wrap: break-word;
}
