.product-container {
  display: flex;
}

.sidebar {
  /* background-color: lightsalmon; */
  margin-left: 2%;
  margin-top: 3%;
}

.product-list {
  /* flex-wrap: wrap; */
  margin-left: 8%;
  margin-top: 3%;
  max-width: 80%;
}
