.product-details-container {
  /* background-color: tomato; */
}

.info-container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.product-image {
  /* background-color: royalblue; */
  flex: 2;
}

.product-info {
  /* background-color: thistle; */
  flex: 2;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.description {
  padding: 2%;
  margin: 5%;
  margin-top: 2%;

  border: 1px solid;
}

.description .des-button {
  font-size: 15px;
  border-color: #fbb03b;
  border-radius: 20px;
  justify-items: center;
  padding: 5px 20px;
  margin-left: 45%;
  margin-bottom: 2%;
}

.product-info .card {
  width: 100%;
}

.prod-image {
  margin-left: 20%;
  margin-top: 10%;
}

/* @media (min-width: 700px) {
  .prod-image {
    width: 300px;
    height: 300px;
  }
} */

.title {
  margin-top: 10%;
  margin-left: 4%;
}

.details-price {
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 5%;
  font-size: 24px;
}

.size {
  margin-left: 5%;
  margin-bottom: 5%;
}

.crt-button {
  font-size: 15px;
  padding: 9px 45px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fbb03b;
  border: none;
  margin-left: 5%;
  margin-top: 5%;
}
.crt-button:hover {
  background-color: green;
  transition: 0.25s ease-in;
}

.swatch {
  display: flex;
  margin-left: 5%;
}
.colors {
  margin-left: 10px;
}

.swatch-image {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid grey;
  padding: 2px;
}

.color-button {
  height: 52px;
}

.color-button:focus {
  border-color: #fbb03b;
  border-width: 2px;
  /* transform: translate(1px); */
}
