li {
  list-style: none;
  margin-left: 10px;
}
span {
  font-weight: bold;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  margin-left: 10%;
  /* background-color: pink; */
}

.product-card {
  border-style: solid;
  border-width: 1px;
  height: 150px;
  padding: 20px;
  margin-top: 5%;
}

.slider-container {
  margin-top: 5%;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  position: relative;
}

.slider-container {
  position: relative;
}

.slider-container .track {
  margin-top: 10%;
  width: 100%;
  height: 4px;
  background: #ccc;
}

.slider-container .track .progress {
  width: 100%;
  height: 100%;
  background: black;
}

.slider-container .thumb {
  width: 20px;
  height: 20px;
  background: black;
  position: absolute;
  top: 46px;
  border-radius: 50px;
  transform: translate(-50%);
  cursor: pointer;
}
