* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
  align-items: center;
  border-bottom: 2px solid gray;
}
h2 {
  margin-right: auto;
  padding-left: 10px;
}

.logo {
  padding-bottom: 10px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}
.cart-button {
  font-size: 16px;
  border: none;
  cursor: pointer;
}
